/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.contact-info, .personal-details, .professional-affiliations, .skills, .experience, .education {
    margin: 20px;
    padding: 15px;
}

.contact-info p, .personal-details p, .professional-affiliations p {
    margin: 5px 0;
}

h1 {
    margin: 0;
    color: #333;
}

h2 {
    border-bottom: 1px solid #333;
}

h3 {
    margin-top: 0;
}

.job, .education-entry {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li:before {
    content: "■ ";
    color: #333; /* Bullet color */
}

@media screen and (min-width: 600px) {
    .contact-info, .personal-details, .professional-affiliations, .skills {
        float: left;
        width: 50%;
    }
    .experience, .education {
        clear: both;
    }
}
